.profile-section-container{
    background: url('../img/profile-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 600px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    background-color: #F5F5F5;
    
}

.profile-container{
    display: flex;
    text-align: center;
    padding-bottom: 80px;
}

